body {
    font-family: Arial;
    background: #f0f0f0;
    margin: 0;
}

nav {
    background: #222;
    padding: 15px;
}

nav a {
    color: #fff;
    margin-right: 20px;
    text-decoration: none;
}

.container {
    width: 60%;
    margin: 20px auto;
}

.task-list {
    list-style: none;
    padding: 0;
}

.task-box {
    background: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-delete {
    color: white;
    background: red;
    padding: 8px;
    border-radius: 5px;
    text-decoration: none;
}

.btn-complete {
    color: white;
    background: green;
    padding: 8px;
    border-radius: 5px;
    text-decoration: none;
}
